.header {
  display: flex;
  gap: 0.75rem;
  padding-block-end: 1rem;
}

.logo {
  height: 32px;
  width: 32px;

  @media (min-width: 568px) {
    height: 48px;
    width: 48px;
  }
}

.title {
  font-size: 2.75rem;
  font-variation-settings: 'wght' 600;
  line-height: 0.75;
  
  @media (min-width: 568px) {
    font-size: 4.8rem;
  }
}