/* hero section */
.hero-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);
}
@media (max-width: 68.75rem) {
  .hero-layout {
    grid-template-columns: 1fr;
    padding-top: var(--space-16);
    padding-bottom: var(--space-16);
  }
}

.hero-intro {
  padding-bottom: var(--space-16);
  padding-right: var(--space-20);
}
@media (max-width: 34.375rem) {
  .hero-intro {
    padding-bottom: var(--space-12);
    padding-right: revert;
  }
}

.hero-intro-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  font-size: var(--font-size-text-xl);
  line-height: var(--line-height-text-xl);
}
.hero-intro-content > * {
  margin: 0;
}
@media (max-width: 34.375rem) {
  .hero-intro-content {
    font-size: var(--font-size-text-lg);
    line-height: var(--line-height-text-lg);
  }
}

.hero-intro-content .subheading {
  color: var(--color-text);
  font-size: var(--font-size-text-xl);
  line-height: var(--line-height-text-xl);
  font-weight: var(--font-weight-normal);
}
@media (max-width: 34.375rem) {
  .hero-intro-content .subheading {
    font-size: var(--font-size-text-lg);
    line-height: var(--line-height-text-lg);
  }
}

.hero-intro-content .btn-group {
  display: flex;
  gap: var(--space-4);
  align-items: flex-start;
  flex-wrap: wrap;
  margin-block-start: var(--space-6);
}
@media (max-width: 34.375rem) {
  .hero-intro-content .btn-group {
    flex-direction: column;
    align-items: stretch;
  }
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  margin-left: var(--space-16);
}

.hero-img-desktop {
  position: absolute;
  top: 0;
  left: var(--space-16);
  object-position: 10% 0%;
}

.hero-img-mobile {
  position: absolute;
  top: var(--space-16);
  left: 0;
  object-position: 0% 0%;
}

/* teck stack */
.tech-stack-layout {
  padding-bottom: var(--space-24);
}
@media (max-width: 68.75rem) {
  .tech-stack-layout {
    padding-bottom: var(--space-16);
  }
}

.tech-stack {
  padding: var(--space-16);
  background-color: var(--color-background-muted);
  border-radius: var(--radius-md);
}
@media (max-width: 34.375rem) {
  .tech-stack {
    padding: var(--space-12) var(--space-6);
  }
}

.tech-stack .list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-4) var(--space-16);
}
@media (max-width: 34.375rem) {
  .tech-stack .list {
    gap: var(--space-4) var(--space-8);
  }
}

.tech-stack .heading {
  font-size: var(--font-size-text-xl);
  margin-bottom: var(--space-8);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (max-width: 34.375rem) {
  .tech-stack .heading {
    font-size: var(--font-size-text-md);
  }
}

/* analysis */
.analysis-section-layout {
  padding: var(--space-24) 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}
@media (max-width: 68.75rem) {
  .analysis-section-layout {
    padding: var(--space-16) 0;
    gap: var(--space-10);
  }
}

.analysis-item {
  display: flex;
  gap: var(--space-24);
  align-items: center;
}
.analysis-item .content {
  flex: 1;
}
@media (max-width: 68.75rem) {
  .analysis-item {
    flex-direction: column;
    gap: var(--space-10);
    align-items: revert;
  }
}

.analysis-item .title {
  font-size: var(--font-size-display-sm);
  line-height: var(--line-height-display-sm);
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
}

/* shared */
.section-prefix {
  font-size: var(--font-size-text-md);
  line-height: var(--line-height-text-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary-heading);
  display: block;
  margin-bottom: var(--space-3);
}
@media (max-width: 34.375rem) {
  .section-prefix {
    font-size: var(--font-size-text-sm);
  }
}

.section-prefix.alt {
  color: var(--primary-200);
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  padding-left: var(--space-4);
}
@media (max-width: 34.375rem) {
  .features-list {
    gap: var(--space-2);
    padding-left: var(--space-4);
  }
}

.features-list li {
  list-style: none;
}

.feature {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}
.feature > * {
  flex-shrink: 0;
}
