@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: oblique -10deg 0deg;
  font-display: fallback;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/source-code-pro-variable.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-display: fallback;
}

:root {
  /* https://systemfontstack.com/ */
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: 'Source Code Pro', Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace;

  --font-size-text-xs: calc(12 / 16 * 1rem);
  --font-size-text-sm: calc(14 / 16 * 1rem);
  --font-size-text-md: calc(16 / 16 * 1rem);
  /* --font-size-text-lg = body text*/
  --font-size-text-lg: calc(18 / 16 * 1rem);
  --font-size-text-xl: calc(20 / 16 * 1rem);
  --font-size-display-xs: calc(24 / 16 * 1rem);
  --font-size-display-sm: calc(30 / 16 * 1rem);
  /* ? for --font-size-display-md & larger, apply letter-spacing: var(--letter-spacing-tight) */
  --font-size-display-md: calc(36 / 16 * 1rem);
  --font-size-display-lg: calc(48 / 16 * 1rem);
  --font-size-display-xl: calc(60 / 16 * 1rem);
  --font-size-display-2xl: calc(72 / 16 * 1rem);

  --line-height-text-xs: calc(18 / 16 * 1rem);
  --line-height-text-sm: calc(20 / 16 * 1rem);
  --line-height-text-md: calc(24 / 16 * 1rem);
  --line-height-text-lg: calc(28 / 16 * 1rem);
  --line-height-text-xl: calc(30 / 16 * 1rem);
  --line-height-display-xs: calc(32 / 16 * 1rem);
  --line-height-display-sm: calc(38 / 16 * 1rem);
  --line-height-display-md: calc(44 / 16 * 1rem);
  --line-height-display-lg: calc(60 / 16 * 1rem);
  --line-height-display-xl: calc(72 / 16 * 1rem);
  --line-height-display-2xl: calc(90 / 16 * 1rem);

  --font-weight-hairline: 100;
  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --letter-spacing-tightest: -0.1rem;
  --letter-spacing-tighter: -0.05rem;
  --letter-spacing-tight: -0.025rem;
  --letter-spacing-normal: 0rem;
  --letter-spacing-wide: 0.025rem;
  --letter-spacing-wider: 0.05rem;
  --letter-spacing-widest: 0.1rem;
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-text-lg);
  line-height: var(--line-height-text-lg);
  font-weight: var(--font-weight-normal);
  background-color: var(--color-background);
  color: var(--color-text);
  /* prevent layout breaks when no soft wrap opportunities are available */
  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}

p,
ol,
ul {
  max-width: 60ch;
  margin-bottom: var(--space-6);
}
@media (max-width: 34.375rem) {
  p,
  ol,
  ul {
    margin-bottom: var(--space-5);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: var(--font-sans);
}

h1,
.h1 {
  font-size: var(--font-size-display-xl);
  line-height: var(--line-height-display-xl);
  letter-spacing: var(--letter-spacing-tight);
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--space-6);
}
@media (max-width: 34.375rem) {
  h1,
  .h1 {
    font-size: var(--font-size-display-md);
    line-height: var(--line-height-display-md);
    margin-bottom: var(--space-4);
  }
}

h2,
.h2 {
  font-size: var(--font-size-display-md);
  line-height: var(--line-height-display-md);
  letter-spacing: var(--letter-spacing-tight);
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--space-5);
}
@media (max-width: 34.375rem) {
  h2,
  .h2 {
    font-size: var(--font-size-display-sm);
    line-height: var(--line-height-display-sm);
    margin-bottom: var(--space-4);
  }
}

h3,
.h3 {
  font-size: var(--font-size-text-xl);
  line-height: var(--line-height-text-xl);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--space-2);
}
@media (max-width: 34.375rem) {
  h3,
  .h3 {
    font-size: var(--font-size-text-lg);
    line-height: var(--line-height-text-lg);
    margin-bottom: var(--space-1);
  }
}

h4,
.h4 {
  font-size: var(--font-size-text-lg);
  line-height: var(--line-height-text-lg);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--space-2);
}
@media (max-width: 34.375rem) {
  h4,
  .h4 {
    font-size: var(--font-size-text-md);
    line-height: var(--line-height-text-md);
    margin-bottom: var(--space-1);
  }
}

h5,
.h5 {
  font-size: var(--font-size-text-md);
  line-height: var(--font-size-text-md);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--space-2);
}
@media (max-width: 34.375rem) {
  h5,
  .h5 {
    font-size: var(--font-size-text-sm);
    line-height: var(--font-size-text-sm);
    margin-bottom: var(--space-1);
  }
}

pre,
code {
  font-family: var(--font-mono);
  font-weight: var(--font-weight-medium);
}

code {
  background-color: var(--color-syntax-background-inline);
  color: var(--color-syntax-text-inline);
  padding-block: 1.5px;
  padding-inline: 4px;
  border-radius: var(--radius-sm);
}

figcaption {
  font-size: var(--font-size-text-sm);
}

/* 
manually apply variable font axis and use `<em>` tag rather than rely on 
browser synthesis for `font-style: italic;`
*/
em {
  font-style: normal;
  /* equivalent to font-variation-settings: "slnt" -10; */
  font-style: oblique -10deg;
}
