.header {
  position: sticky;
  top: -16px;
  padding-top: 16px;
  background-color: hsl(var(--color-background-hsl) / 0.95);
  border-bottom: var(--border-1) solid var(--color-divider);
  /* 
    based on html { isolation: isolate } stacking context we set z-index: 1
    here to avoid elements further down the tree with positioned layout from 
    overlapping 
  */
  z-index: 1;
}

@supports (backdrop-filter: var(--blur-md)) {
  .header {
    background-color: hsl(var(--color-background-hsl) / 0.5);
    backdrop-filter: var(--blur-md);
    -webkit-backdrop-filter: var(--blur-md);
  }
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-8);
}
@media (max-width: 34.375rem) {
  .header nav {
    display: none;
  }
}

.header .container {
  background-color: inherit;
  display: flex;
  align-items: center;
  gap: var(--space-8);
  padding-top: var(--space-4);
}

.header .logo-container {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  margin-right: auto;
}

@media (pointer: fine) and (hover: hover) {
  .header .logo-container svg {
    will-change: transform;
  }
  .header .logo-container:hover svg {
    animation: wobble-y 700ms ease-out both;
  }
}

.header .wordmark {
  color: var(--color-heading);
}
