.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  box-shadow: 0px 3px 0px var(--primary);
  transition: box-shadow 200ms ease 0s;
  transition-delay: 300ms;
  will-change: transform;
  -webkit-box-decoration-break: clone;

  &:hover {
    box-shadow: transparent 0px 0px 0px;
    transition-delay: 0ms;
  }

  &:hover .revealed {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
    transition: clip-path 300ms;
  }
}

.revealed {
  color: var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 0px 4px var(--background));
  clip-path: polygon(
    0% 100%,
    100% 100%,
    100% 100%,
    0% 100%
  );
  transition: clip-path 1000ms;
}