/* hero section */
.hero-section {
  background-color: var(--color-primary-background);
}

.hero-layout {
  padding-block-start: var(--space-24);
  padding-block-end: var(--space-24);
}
@media (max-width: 68.75rem) {
  .hero-layout {
    padding-block-start: var(--space-16);
  }
}
@media (max-width: 34.375rem) {
  .hero-layout {
    padding-block-start: var(--space-16);
    padding-block-end: var(--space-32);
  }
}

.hero-prefix {
  margin: 0;
  line-height: 1.2;
  color: var(--color-primary-text-alt);
  font-size: var(--font-size-text-md);
  font-weight: var(--font-weight-semibold);
  padding-block-end: var(--space-3);
}
@media (max-width: 34.375rem) {
  .hero-prefix {
    font-size: var(--font-size-text-sm);
  }
}

.hero-heading {
  color: var(--color-white);
  max-width: var(--container-lg);
}

.hero-subheading {
  color: var(--color-primary-text-alt);
  font-size: var(--font-size-text-xl);
  line-height: var(--line-height-text-xl);
  font-weight: var(--font-weight-normal);
  max-width: var(--container-md);
  margin-block-end: var(--space-10);
}

@media (max-width: 34.375rem) {
  .hero-subheading {
    font-size: var(--font-size-text-lg);
    line-height: var(--line-height-text-lg);
    margin-block-end: var(--space-4);
  }
}

.hero-date {
  color: var(--color-primary-text-alt);
  font-size: var(--font-size-text-md);
  line-height: var(--line-height-text-md);
  font-weight: var(--font-weight-normal);
  margin: 0;
}

/* article body section */
.article-max-width-container {
  --buffer: var(--space-8);
  position: relative;
  width: min(100%, 720px);
  margin-inline: auto;
  padding-inline: var(--buffer);
  padding-block: var(--space-24);
}

@media (max-width: 34.375rem) {
  .article-max-width-container {
    --buffer: var(--space-4);
  }
}

.article-description {
  margin-block-end: var(--space-8);
  font-size: var(--font-size-text-xl);
  line-height: var(--line-height-text-xl);
}

.article-divider {
  border: 1px solid var(--color-divider);
  margin-block-end: var(--space-12);
}

.article-link {
  position: relative; /* required for .click-target-helper */
  cursor: pointer;
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  color: var(--color-primary-text);
  box-shadow: 0px 0px 0px var(--color-primary-text);
}

.article-link:visited {
  color: var(--color-primary-text);
}

@media (pointer: fine) and (hover: hover) {
  .article-link:hover {
    color: var(--color-primary-text-hover);
    box-shadow: 0px 2px 0px var(--color-primary-text-hover);
    transition: color 200ms ease 0s, box-shadow 200ms ease 0s;
  }
}
