/* shared */
.prefix {
  font-size: var(--font-size-text-md);
  line-height: var(--line-height-text-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary-heading);
  display: block;
  margin-bottom: var(--space-3);
}
@media (max-width: 34.375rem) {
  .prefix {
    font-size: var(--font-size-text-sm);
  }
}

.subheading {
  font-size: var(--font-size-text-xl);
  line-height: var(--line-height-text-xl);
}

/* hero section */
.hero {
  padding-top: var(--space-16);
  padding-bottom: var(--space-24);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 68.75rem) {
  .hero {
    grid-template-columns: 1fr;
    padding-bottom: var(--space-16);
  }
}

.hero .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-6);
  padding-bottom: var(--space-16);
}
@media (max-width: 34.375rem) {
  .hero .intro {
    gap: var(--space-4);
  }
}

.hero .location {
  padding-left: var(--space-2);
  color: var(--color-primary-text);
  font-size: var(--font-size-text-md);
}

.hero h1 {
  margin: 0;
}

.hero .subheading {
  max-width: var(--container-xs);
}

.hero .btn-group {
  display: flex;
  gap: var(--space-4);
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 34.375rem) {
  .hero .btn-group {
    flex-direction: column;
    align-items: stretch;
  }
}

/* about section */
.about {
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  border-bottom: var(--border-1) solid var(--color-divider);
}
@media (max-width: 34.375rem) {
  .about {
    padding-top: var(--space-16);
    padding-bottom: var(--space-16);
    gap: var(--space-12);
  }
}
@media (max-width: 34.375rem) {
  .about {
    border-bottom: none;
  }
}

.about .intro {
  max-width: var(--container-md);
}

.about .columns {
  columns: 2;
  gap: var(--space-16);
}
.about .columns p:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 68.75rem) {
  .about .columns {
    columns: 1;
    gap: 0;
    max-width: var(--container-md);
  }
}
@media (max-width: 34.375rem) {
  .about .columns {
    border-top: var(--border-1) solid var(--color-divider);
    padding-top: var(--space-6);
    font-size: var(--font-size-text-md);
    line-height: var(--line-height-text-md);
  }
}

.about p {
  break-inside: avoid;
}

/* projects section */
/* about section */
.projects {
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}
@media (max-width: 34.375rem) {
  .projects {
    padding-top: var(--space-16);
    padding-bottom: var(--space-16);
    gap: var(--space-12);
  }
}
