/* hero section */
.hero-section {
  background-color: var(--color-primary-background);
}

.hero-layout {
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);
}
@media (max-width: 68.75rem) {
  .hero-layout {
    padding-top: var(--space-16);
  }
}
@media (max-width: 34.375rem) {
  .hero-layout {
    padding-top: var(--space-16);
    padding-bottom: var(--space-32);
  }
}

.article-count {
  margin: 0;
  line-height: 1.2;
  color: var(--color-primary-text-alt);
  font-size: var(--font-size-text-md);
  font-weight: var(--font-weight-semibold);
  padding-bottom: var(--space-3);
}
@media (max-width: 34.375rem) {
  .article-count {
    font-size: var(--font-size-text-sm);
  }
}

.hero-heading {
  margin: 0;
  line-height: 1.2;
  color: var(--color-white);
  font-size: var(--font-size-display-lg);
  padding-bottom: var(--space-6);
}
@media (max-width: 34.375rem) {
  .hero-heading {
    font-size: var(--font-size-display-md);
    padding-bottom: var(--space-4);
  }
}
.hero-subheading {
  color: var(--color-primary-text-alt);
  font-size: var(--font-size-text-xl);
  line-height: var(--line-height-text-xl);
  font-weight: var(--font-weight-normal);
  max-width: var(--container-md);
}

@media (max-width: 34.375rem) {
  .hero-subheading {
    font-size: var(--font-size-text-lg);
    line-height: var(--line-height-text-lg);
  }
}

/* article preview grid */
.article-preview {
  display: flex;
  padding: var(--space-12);
  flex-direction: column;
  border: 1px solid hotpink;
}

/* shared */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
