.project-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);
}
@media (max-width: 68.75rem) {
  .project-hero {
    grid-template-columns: 1fr;
    padding-top: var(--space-16);
    padding-bottom: var(--space-16);
  }
}

.project-hero__intro {
  padding-bottom: var(--space-16);
  padding-right: var(--space-20);
}
@media (max-width: 34.375rem) {
  .project-hero__intro {
    padding-bottom: var(--space-12);
    padding-right: revert;
  }
}

.project-hero__prefix {
  font-size: var(--font-size-text-md);
  line-height: var(--line-height-text-md);
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary-heading);
  display: block;
  margin-bottom: var(--space-3);
}
@media (max-width: 34.375rem) {
  .project-hero__prefix {
    font-size: var(--font-size-text-sm);
  }
}

.project-hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  font-size: var(--font-size-text-xl);
  line-height: var(--line-height-text-xl);
}
.project-hero__content > * {
  margin: 0; /* remove built-in margin from text elements */
}
@media (max-width: 34.375rem) {
  .project-hero__content {
    font-size: var(--font-size-text-lg);
    line-height: var(--line-height-text-lg);
  }
}

.project-hero__subheading {
  color: var(--color-text);
  font-size: var(--font-size-text-xl);
  line-height: var(--line-height-text-xl);
  font-weight: var(--font-weight-normal);
}
@media (max-width: 34.375rem) {
  .project-hero__subheading {
    font-size: var(--font-size-text-lg);
    line-height: var(--line-height-text-lg);
  }
}

.project-hero__features-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  padding-left: var(--space-4);
}

@media (max-width: 34.375rem) {
  .project-hero__features-list {
    gap: var(--space-2);
    padding-left: var(--space-4);
  }
}

.project-hero__features-list li {
  list-style: none;
}

.project-hero__feature {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.project-hero__feature > * {
  flex-shrink: 0;
}

.project-hero__btn-group {
  display: flex;
  gap: var(--space-4);
  align-items: flex-start;
  flex-wrap: wrap;
  margin-block-start: var(--space-6);
}
@media (max-width: 34.375rem) {
  .project-hero__btn-group {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 68.75rem) {
  .project-hero__img-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 34.375rem) {
  .project-hero__img-wrapper {
    justify-content: center;
    padding-inline: revert;
  }
}

.project-hero__img {
  margin-inline-start: var(--space-24);
}

@media (max-width: 68.75rem) {
  .project-hero__img {
    margin-inline-start: revert;
  }
}

.tech-stack {
  padding-bottom: var(--space-24);
}
@media (max-width: 68.75rem) {
  .tech-stack {
    padding-bottom: var(--space-16);
  }
}

.tech-stack__container {
  padding: var(--space-16);
  background-color: var(--color-background-muted);
  border-radius: var(--radius-md);
}
@media (max-width: 34.375rem) {
  .tech-stack__container {
    padding: var(--space-12) var(--space-6);
  }
}

.tech-stack__heading {
  font-size: var(--font-size-text-xl);
  margin-bottom: var(--space-8);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (max-width: 34.375rem) {
  .tech-stack__heading {
    font-size: var(--font-size-text-md);
  }
}

.tech-stack__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-4) var(--space-16);
}
@media (max-width: 34.375rem) {
  .tech-stack__list {
    gap: var(--space-4) var(--space-8);
  }
}

.project-analysis {
  padding-block: var(--space-24);
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}
@media (max-width: 68.75rem) {
  .project-analysis {
    padding-block: var(--space-16);
  }
}

.project-analysis__container {
  display: flex;
  gap: var(--space-24);
  align-items: center;
}

@media (max-width: 68.75rem) {
  .project-analysis__container {
    flex-direction: column;
    gap: var(--space-10);
    align-items: revert;
  }
}

.project-analysis__content {
  flex: 1;
}

@media (max-width: 68.75rem) {
  .project-analysis__content--text {
    order: 1;
  }
}

@media (max-width: 68.75rem) {
  .project-analysis__content--img {
    order: 2;
  }
}

.project-analysis__title {
  font-size: var(--font-size-display-sm);
  line-height: var(--line-height-display-sm);
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
}

.project-analysis__img-wrapper {
  background-color: var(--color-background-highlight);
  --padding: var(--space-12);
  padding-block-start: var(--padding);
}

.project-analysis__img-wrapper--right {
  padding-inline-start: var(--padding);
}

.project-analysis__img-wrapper--left {
  padding-inline-end: var(--padding);
}

@media (max-width: 68.75rem) {
  .project-analysis__img-wrapper--right {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 34.375rem) {
  .project-analysis__img-wrapper--left,
  .project-analysis__img-wrapper--right {
    display: flex;
    justify-content: center;
    padding-inline: revert;
  }

  .project-analysis__img-wrapper--final {
    padding-block-start: revert;
    padding-block-end: var(--padding);
  }
}

.project-analysis__img--right {
  object-position: top left;
}

@media (max-width: 68.75rem) {
  .project-analysis__img--left {
    object-fit: contain;
  }
}

@media (max-width: 34.375rem) {
  .project-analysis__img--left {
    object-fit: cover;
  }
}

.project-analysis__link {
  position: relative; /* required for .click-target-helper */
  cursor: pointer;
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  color: var(--color-primary-text);
  box-shadow: 0px 0px 0px var(--color-primary-text);
}

/* .project-analysis__link-test {
  display: inline;
} */

.project-analysis__link:visited {
  color: var(--color-primary-text);
}

@media (pointer: fine) and (hover: hover) {
  .project-analysis__link:hover {
    box-shadow: 0px 2px 0px var(--color-primary-text);
    transition: box-shadow 200ms ease 0s;
  }
}
