.footer {
  background-color: var(--color-primary-background);
  color: hsl(var(--primary-300));
}

.footer .footer-container {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-16);
  padding-bottom: var(--space-10);
}

@media (max-width: 34.375rem) {
  .footer .footer-container {
    padding-top: var(--space-12);
  }
}

.footer .nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-8);
  padding-bottom: var(--space-16);
}
@media (max-width: 34.375rem) {
  .footer .nav-container {
    padding-bottom: var(--space-12);
  }
}

.footer .footer-nav {
  display: flex;
  gap: var(--space-8);
  justify-content: center;
}

/* passed as className since this is a one off colour for links not used 
   anywhere else. Another Link variant with additional css var is overkill */
.link.footer-link {
  color: hsl(var(--primary-200));
}
@media (pointer: fine) and (hover: hover) {
  .link.footer-link:hover {
    color: hsl(var(--primary-50));
  }
}

.footer .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  color: var(--gray-500);
  text-decoration: none;
}
@media (max-width: 34.375rem) {
  .footer .logo-container {
    order: -1;
    margin-bottom: var(--space-6);
  }
}

@media (pointer: fine) and (hover: hover) {
  .footer .logo-container svg {
    will-change: transform;
  }
  .footer .logo-container:hover svg {
    animation: wobble-y 700ms ease-out both;
  }
}

.footer .wordmark {
  color: var(--color-white);
}

.footer .copyright {
  display: block;
  text-align: center;
  padding-top: var(--space-8);
  font-size: var(--font-size-text-md);
}
