.footer {
  background-color: var(--color-background);
  color: var(--gray-500);
}

.footer .footer-container {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-20);
  padding-bottom: var(--space-12);
}

@media (max-width: 34.375rem) {
  .footer .footer-container {
    padding-top: var(--space-12);
  }
}

.footer .nav-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: var(--space-8);
  padding-bottom: var(--space-8);
}
@media (max-width: 34.375rem) {
  .footer .nav-container {
    padding-bottom: var(--space-12);
  }
}

.footer .footer-nav {
  display: flex;
  gap: var(--space-8);
}

.footer .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  color: var(--gray-500);
  text-decoration: none;
}
@media (max-width: 34.375rem) {
  .footer .logo-container {
    order: -1;
    margin-bottom: var(--space-6);
  }
}

.footer .wordmark {
  color: var(--color-heading);
}

.footer .copyright {
  display: block;
  text-align: center;
  padding-top: var(--space-8);
}
