.mobile-menu-button {
  display: none;
}

@media (max-width: 34.375rem) {
  .mobile-menu-button {
    display: revert;
    position: fixed;
    bottom: var(--space-4);
    right: var(--space-4);
    background-color: var(--color-overlay);
    backdrop-filter: var(--blur-sm);
    border-radius: var(--radius-full);
    border: var(--border-1) solid var(--color-border);
    padding: var(--space-5);
    color: var(--color-text);
    z-index: 3;
  }
}

.mobile-menu-overlay {
  position: fixed;
  inset: 0;
  background-color: var(--color-overlay);
  backdrop-filter: var(--blur-sm);
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .mobile-menu-overlay-enter {
    will-change: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
  }

  .mobile-menu-overlay-enter-from {
    opacity: 0;
  }

  .mobile-menu-overlay-enter-to {
    opacity: 1;
  }

  .mobile-menu-overlay-leave {
    transition-duration: 250ms;
    transition-timing-function: ease-in;
  }

  .mobile-menu-overlay-leave-from {
    opacity: 1;
  }

  .mobile-menu-overlay-leave-to {
    opacity: 0;
  }
}

.mobile-menu-content {
  position: fixed;
  top: 0;
  right: var(--space-24);
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  background-color: var(--color-background);
  padding: var(--space-24) var(--space-8);
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .mobile-menu-content {
    will-change: transform;
  }
  .mobile-menu-content[data-state="open"] {
    animation: slide-in-left 400ms ease-out both;
    animation-delay: 250ms;
  }
  .mobile-menu-content[data-state="closed"] {
    animation: slide-out-left 250ms ease-in both;
  }
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-8);
}

.mobile-menu-nav-link {
  text-decoration: none;
  color: inherit;
}
