.tech-container {
  display: flex;
  gap: var(--space-3);
  align-items: center;
}
@media (max-width: 34.375rem) {
  .tech-container svg {
    height: var(--space-8);
    width: var(--space-8);
  }
}

.tech-container .title {
  font-size: var(--font-size-display-xs);
  line-height: var(--line-height-display-xs);
  font-weight: var(--font-weight-semibold);
  color: var(--color-heading);
  margin: 0;
}
@media (max-width: 34.375rem) {
  .tech-container .title {
    font-size: var(--font-size-text-xl);
    line-height: var(--font-size-text-xl);
  }
}
