.social-card .icon {
  justify-content: start;
  padding-bottom: var(--space-4);
}
@media (max-width: 34.375rem) {
  .social-card .icon {
    padding-bottom: var(--space-3);
  }
}

.social-card .platform {
  padding-bottom: var(--space-2);
  color: hsl(var(--white));
  font-size: var(--font-size-text-xl);
  line-height: var(--line-height-text-xl);
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.social-card .platform:hover {
  color: hsl(var(--white));
}

@media (max-width: 34.375rem) {
  .social-card .platform {
    padding-bottom: var(--space-1);
    font-size: var(--font-size-text-lfg);
    line-height: var(--line-height-text-lg);
    gap: var(--space-1);
  }
}

.social-card .username,
.social-card .username:hover {
  color: hsl(var(--primary-200));
}
