---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

---

<html lang="en">
  <head>
    <MainHead title="About | Jeanine White" description="About Jeanine White Lorem Ipsum" />
    <style lang="scss">
      .heroImg {
        object-fit: cover;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>About Jeanine</h1>
      <div class="heroImg">
        <img width="1400" height="350" src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75" />
      </div>
      <div class="bio wrapper wrapper__readable mt8">
        <p>Hello there! I’m Tom. I’m a passionate foodie from the UK who loves building things with code.</p>
        <p>In 2018 I sold everything I owned, quit my job, and moved to Spain to become a freelance web developer. New country, new language, new career.</p>
        <p>I started to freelance by building websites with WordPress and a WYSIWYG plugin, but soon became curious about how things worked under the hood. I realised that in order to level up, I needed to learn how to code. I dabbled with PHP and CSS before directing my curisoity to where web development was headed, rather than where it had been, and the community pointed me towards the JavaScript ecosystem.</p>
        <p>The moment I realised that I had made the right choice was when I solved an algorithm challenge for a shopping cart. The feeling of euphoria that came after solving the problem made all the frustration of getting to the solution worth it. It was blissful, and I wanted more!</p>
        <p>I've since found a path that works for me, aquired enough skills to build full stack web apps from start to finish, and am excited to continue to learn and grow as a developer. I am now seeking a full-time role where I can help a company to achieve their goals.</p>
      </div>
    </div>
    <Footer />
</body>
</html>
