---
import '@/styles/reset.css'
import '@/styles/globals.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tom Hendra</title>
  </head>
  <body>
    <div class="container">
      <header>
        <img src="/logo-light.svg" width="30px" height="30px" />
        <span class="pixelate">Tom Hendra</span>
      </header>
      <main>
        <p>React Native dev</p>
        <p class="subtitle">Site under construction ⚒️</p>
        <a href="https://twitter.com/tomhendra" class="subtitle">@tomhendra</a>
      </main>
    </div>
  </body>
</html>

<style>
  header {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 1rem;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  main {
    padding-top: 4rem;
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subtitle {
    font-size: 0.875rem;
  }
</style>
