.max-width-container {
  position: relative;
  --buffer: var(--space-8);
  width: min(100%, var(--container-xl));
  margin-inline: auto;
  padding-inline: var(--buffer);
}

@media (max-width: 34.375rem) {
  .max-width-container {
    --buffer: var(--space-4);
  }
}
