html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-variation-settings: 'wght' 400, 'ital' 1;
  background-color: var(--background);
  color: var(--foreground);
}

h1 {
  font-variation-settings: 'wght' 600;
}

.debug {
  border: 1px solid hotpink;
}