html {
  --background: hsl(41deg 42% 93%);
  --foreground: hsl(36deg 6% 16%);
  --card: hsl(41deg 42% 93%);
  --card-foreground: hsl(36deg 6% 16%);
  --popover:hsl(41deg 42% 93%);
  --popover-foreground: hsl(36deg 6% 16%);
  --primary: hsl(9deg 100% 63%);
  --primary-foreground: hsl(9deg 100% 99%);
  --secondary: hsl(41deg 42% 88%);
  --secondary-foreground: hsl(36deg 6% 22%)
  --accent:  hsl(41deg 42% 88%);
  --accent-foreground: hsl(36deg 6% 22%)
  --muted:  hsl(41deg 42% 88%);
  --muted-foreground: hsl(38deg 6% 63%);
  --destructive: hsl(0deg 100% 63%);
  --destructive-foreground: hsl(0deg 100% 63%);
  --border: hsl(41deg 42% 80%);
  --input: hsl(41deg 42% 80%);
  --ring: hsl(36deg 6% 22%);

  .dark {
  --background: hsl(36deg 6% 16%);
  --foreground: hsl(41deg 42% 93%);
  --card: hsl(36deg 6% 16%);
  --card-foreground: hsl(41deg 42% 93%);
  --popover: hsl(36deg 6% 16%);
  --popover-foreground: hsl(41deg 42% 93%);
  --primary: hsl(9deg 100% 63%);
  --primary-foreground: hsl(9deg 100% 99%);
  --secondary: hsl(36deg 6% 28%);
  --secondary-foreground: hsl(41deg 42% 93%);
  --accent: hsl(36deg 6% 28%);
  --accent-foreground: hsl(41deg 42% 93%);
  --muted: hsl(36deg 6% 28%);
  --muted-foreground: hsl(38deg 6% 80%);
  --destructive: hsl(0deg 100% 63%);
  --destructive-foreground: hsl(0deg 100% 63%);
  --border: hsl(33deg 6% 36%);
  --input: hsl(33deg 6% 36%);
  --ring: hsl(41deg 42% 93%);
  }
}
